* {
    box-sizing: border-box;
    text-align: center;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color: black;
}

main {
  margin: 0 20px 0 20px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: gray;
  height: 30px;
}

header {
  padding-top: 20px;
}

/* hand waving animation */
span.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }
  100% { transform: rotate(  0.0deg) }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.headshot {
  height: 100%;
}

.email {
 text-decoration: none; 
 color: rgb(255, 255, 255);
 background-color: gray;
}

.email:hover {
  background-color: cornflowerblue;
}

header,
section {
  height: 200px;
  border: 1px solid black;
}

footer,
section:nth-child(even) {
  border: 1px solid dimgray;
}

.side-by-side {
  display: flex;
  width: 24%;
  background-color: gray;
  font-size: 30px;
}

footer {
  height: 35px;
}

