* {
  box-sizing: border-box;
}

body {
color: #383838;
display: flex;
flex-direction: column;
align-items: center;
margin: 0px;
}

main {
margin: 0 30px 0 30px;
display: flex;
flex-direction: column;
align-items: left;
}

section {
margin-top: 30px;
}

.nav {
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1;
background-color: white;
height: 30px;
display: flex;
flex-direction: row-reverse;
}

.hamburger {
height: 100%;
margin-right: 20px;
}

.hero,
.headshot-container {
width: 100%;
height: 200px;
font-family: 'Yeseva One', cursive;
}

.hero {
background: url(MountainHero.jpg);
background-size: 100% 650px;
background-position: center;
padding-top: 20px;
}

.name {
color: white;
font-size: 18px;
line-height: 24px;
width: 105px;
padding: 3px;
margin: 15px 0px 0px 15px;
border: solid white 2px;
}

.intro-container {
display: flex;
justify-content: space-evenly;
margin-top: 20px;
}

.headline {
width: 50%;
margin-right: auto;
margin-top: 0px;
margin-bottom: 0px;
border: 2px #383838 solid;
display: flex;
align-items: center;
}

.headline-text {
padding: 0px 11px;
}

.line {
height: 3px;
width: 50%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
background-color: #383838;
}

.bio-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.bio-text {
text-align: left;
}

/* hand waving animation */
span.wave {
animation-name: wave-animation;
animation-duration: 2.5s;
animation-iteration-count: infinite;
transform-origin: 70% 70%;
display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate(  0.0deg) }
 10% { transform: rotate(-10.0deg) }
 20% { transform: rotate( 12.0deg) }
 30% { transform: rotate(-10.0deg) }
 40% { transform: rotate(  9.0deg) }
 50% { transform: rotate(  0.0deg) }
100% { transform: rotate(  0.0deg) }
}

h1,
h2 {
font-family: 'Merriweather Sans', sans-serif;
}

.headline-text,
p,
li {
font-family: 'Merriweather', serif;
font-size: 16px;
line-height: 22px;
}

.headshot-container {
display: flex;
flex-direction: row-reverse;
width: 30%;
}

.quiz-app-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.quiz-app {
width: 280px;
margin-top: 10px;
box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-title {
  font-style: italic;
}

.tech-logo {
height: 20px;
}

ul {
list-style: none;
padding-left: 10px;
padding-bottom: 20px;
}

.contact,
.proj-links {
text-decoration: none; 
width: 120px;
color: #383838;
}

.contact:hover,
.proj-links:hover {
color: cornflowerblue;
}

.contact-icon {
height: 20px;
}

footer {
position: relative;
left: 0px;
right: 0px;
width: 100%;
height: 25px;
display: flex;
justify-content: center;
color:  #383838;
font-style: italic; 
}

.headshot-container,
.headshot-container-v2,
.headline,
.headshot,
.headshot-v2 {
  height: 200px;
}

.headshot-container-v2 {
  display: none;
}

/* Media Queries */

/* ----------- iPhone 4 and 4S ----------- */

/* Galaxy S5, iPhone 5, & iPhone X */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 380px)
{
  .headshot-container,
  .headline,
  .headshot {
    height: 170px;
  }
  .headline-text {
    font-size: 14px;
  }
}

/* Mobile Phones - Galaxy S5, , Pixel 2/Pixel 2 XL, iPhone 5, 6/6+, 7/7+, & 8/8+ */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
{
  .hero {
    height: 180px;
  }
}

/* Tablets and Narrow Browser Screen*/
@media only screen 
and (min-device-width : 501px) { 
  .hamburger {
    display: none;
  }
  section {
    margin-top: 70px;
  }
  .line {
    width: 30%;
  }
  .headshot-container {
    display: none;
  }
  .headline {
    width: 100%;
    height: 90px;
  }
  .headline-text {
    font-size: 23px;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .headshot-container-v2 {
    display: block;
  }
  .headshot-v2 {
    margin-right: 20px;
  }
  .bio-container {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px 5px;
  }
  .bio-text,
  .quiz-app-text {
    font-size: 18px;
  }
  .bio-text {
    width: 80%;
  }
  .bio-container,
  .projects,
  .contact-info {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}  

@media only screen 
and (min-device-width : 1024px) { 
  .hero {
    height: 300px;
  }
  .name {
    color: white;
    font-size: 28px;
    line-height: 36px;
    width: 150px;
    padding: 3px;
    margin: 15px 0px 0px 15px;
    border: solid white 2px;
  }
  .headline-text {
    font-size: 32px;
    line-height: 40px;
  }
  h2 {
    font-size: 30px;
  }
  .quiz-app-text {
    font-size: 20px;
    width: 60%;
  }
  .quiz-app-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .bio-text,
  .quiz-app-text,
  .proj-links,
  li {
    font-size: 22px;
    line-height: 32px;
  }
  .quiz-app-text {
    width: 40%;
    padding-top: 60px;
  }
  .projects,
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
  }
  li {
    font-size: 20px;
    margin-right: 15px;
  }
  .footer {
    font-size: 30px;
  }
}