* {
    box-sizing: border-box;
}

body {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
}

section {
  margin-top: 20px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;
  height: 30px;
  display: flex;
  flex-direction: row-reverse;
}

.hamburger {
  height: 100%;
  margin-right: 20px;
}

.hero,
.headshot-container {
  width: 100%;
  height: 260px;
  font-family: 'Yeseva One', cursive;
}

.hero {
  background: url(Portfolio-Photos/MountainHero.jpg);
  background-size: 100% 650px;;
  background-position: center;
  padding-top: 20px;
}

.name {
  color: white;
  font-size: 18px;
  width: 105px;
  padding: 3px;
  margin: 15px 0px 0px 15px;
  border: solid white 2px;
}

.intro-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.headline {
  height: 200px;
  width: 50%;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 2px black solid;
  display: flex;
  align-items: center;
}

.headshot-container,
.headshot {
  height: 200px;
}

.headline-text {
  padding: 0px 11px;
}

.line {
  height: 3px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bio-text {
  text-align: left;
}

/* hand waving animation */
span.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }
  100% { transform: rotate(  0.0deg) }
}

h1 {
  font-family: 'Merriweather Sans', sans-serif;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 14px;
}

.headshot-container {
  display: flex;
  flex-direction: row-reverse;
  width: 30%;
}

.email {
 text-decoration: none; 
 color: rgb(255, 255, 255);
 width: 120px;
}

.email:hover {
  background-color: cornflowerblue;
}

.email-container {
  background-color: cornflowerblue;
  border-radius: 50%;
}

footer {
  height: 35px;
}


/* iPad styles */
@media only screen 
/* and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  /* STYLES GO HERE */
} */